body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.left-container, .right-container {
    /* border: 2px solid; */
    flex-grow: 1;
    background-color: black;
}
.main-container {
    /* border:2px solid greenyellow; */
    /* height: 100vh; */
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247,248,252);
}
.audio-card {
    height: 60%;
    /* border: 2px solid salmon; */
    width: 480px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
#card-header {
    /* border: 2px solid skyblue; */
    min-height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#card-cover {
    /* border: 2px solid skyblue; */
    min-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#card-body {
    /* border: 2px solid skyblue; */
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5px;
}
.track {
    display: flex;
    justify-content: space-between;
    font-size: 27px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#title-holder {
    width: 100%;
    /* border: 2px solid brown; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#album-cover {
    width: 100%;
    /* border: 2px solid brown; */
    flex-grow: 2;
}
#controls {
    width: 100%;
    /* border: 2px solid brown; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#play-controlls {
    width: 90%;
    /* border: 2px solid greenyellow; */
    display: flex;
    justify-content: space-between;
}
#album-cover {
    display: flex;
    justify-content: center;
}
#album-cover img {
    height: 250px;
}
.icon {
    height: 40px;
    width: 40px;
}